@model JHOEC.Models.Fertilizer

@{
    ViewData["Title"] = "Edit A Fertilizer";
}

<h2>Edit Fertilizer</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FertilizerName" />
            <dl class="dl-horizontal">
                <dt style="text-align:center">
                    <label asp-for="FertilizerName" class="control-label" style="padding:6px 0;"></label>
                </dt>
                <dd>
                    <input asp-for="FertilizerName" class="form-control" readonly />
                    <span asp-validation-for="FertilizerName" class="text-danger"></span>
                </dd>
                </dl>
            <dl class="form-group dl-horizontal ">
                <dt >
                    <input asp-for="Oecproduct" />
                </dt>
                <dd class="checkbox">
                    <label style="padding-left:10px;" asp-for="Oecproduct">                       
                    </label>                    
                </dd>
                </dl>
            <dl class="form-group dl-horizontal">
                <dt>
                    <input asp-for="Liquid" />
                </dt>
                <dd class="checkbox">
                        <label style="padding-left:10px;" asp-for="Liquid">
                        </label>
                </dd>
                <dd>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </dd>
            </dl>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
